{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="fas fa-book-reader"></i> Books Store Admin
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
<div id="footer">
    <p>© 2026 Books Store Admin - Powered by Django & MPTT</p>
</div>
{% endblock %}
